@charset "UTF-8";
	.allElements {
		text-align: center;
		padding-left: 10%;
	}
	
	#body {
		background-color: #c7eeff;
		width: 80%;
		height: 80%;
		margin: 50px auto 50px auto;
		margin-top: 50px;
		margin-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
		padding-bottom: 30px;
		border-radius: 20px;
		box-shadow: 3px 10px 5px lightgrey;
	}
	
	#title {
		text-align: center;
		font-size:1.85em;	
	} 
	#artFieldName{
		width: 10%;
		height: 25px;
		font-size:1em;
		color: blue;
		font-weight: bold;
		background-color: #fafafa;
		float: left;
		margin-right: 1.5%;
		margin-top: 10px;
		border-radius: 8px;
		box-shadow: 1px 3px 5px darkgrey;
			
	}
	#info {
	display:flex;
	justify-content: center;
	font-weight: bold;
	font-size:1.1em;
	gap:35%;
	}
	
	 #postContent {
        background-color: white;
        border: 2px solid #fcf3ea;
        border-radius: 10px;
        box-shadow: 3px 10px 5px lightgrey;
        width: 90%;
        height: 90%;
        margin: 0 auto; /* 여기서 자동으로 좌우 마진을 설정 */
        padding: 20px;
        text-align: center;
    }
	
	#btns {
		margin: 0 auto;
		text-align: left;
	}
	
	#btns #likeBtn{
		background-color: white;
		border: 2px solid #ffe6eb;;
		border-radius: 10px;
		width: 80px;
	}
	
	#btns #likeBtn img{
		 width:30px;
		 height:30px;
		 margin: 0 auto;
	}
	
	#btns #share{
		background-color: white;
		border: none;
	}
	
	#btns #share img{
		 width:30px;
		 height:30px;
	}
	
	#commentDiv {
		font-size:1.1em;
		text-align: left;
	}
	
	#inputComment {
		width: 85%;
		margin-right: 20px;
	}	
	
	#commentDiv #postBtn {
		font-size:1em;
		background-color: #ffe6eb;
		border: 2px solid #fcf3ea;
		border-radius: 10px;
		width: 80px;
		height:30px;
		box-shadow: 3px 3px 3px lightgrey;
	}
	
	#commentDiv #showComment{
		background-color: white;
		width: 80%;
		height: 80%;
		margin-top: 30px;
		margin-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
		padding-bottom: 30px;
		border-radius: 10px;
		border: 2px solid #fcf3ea;
		box-shadow: 3px 10px 5px lightgrey;
	}
	
	.option {
		display : none;
		float: right;
		  z-index : 1;
	}
	
	.optionBtn {
	
		display: block;
		background-color: #ffe6eb;
		border: 3px solid #ffe6eb;;
		border-radius: 5px;
	}
	
	.sideBar:hover .option{
		display: block;
	}
	
	.sideBarBtn {
		float:right;
		background-color: #fcf3ea;
		border: 2px solid #fcf3ea;
	}
	
	
 
#postContent img {
    max-width: 100%;
    height: auto;
}
 
.comment-wrapper .panel-body {
    text-align: right;
}

.panel-heading {
    text-align: left;
}
.media-body {
    text-align: left;
}

.m-2 {
    text-align: right;
}

.media-body .material-icons {
    text-align: right;
    float: right; /* 아이콘을 오른쪽으로 이동 */
    margin-top: -5px;
    margin-bottom: 5px;
}
.material-icons {
    float: right;
    margin-top: -5px;
    margin-bottom: 5px;
}

.position-absolute {
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
}

#famousInformation{
	text-align: left;
}