
.icon-heart:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-up-big:before { content: '\e804'; } /* '' */
.icon-up-open:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-left-dir:before { content: '\e808'; } /* '' */
.icon-up:before { content: '\e809'; } /* '' */
.icon-right-open:before { content: '\e80a'; } /* '' */
.icon-left-open:before { content: '\e80b'; } /* '' */
.icon-up-2:before { content: '\e80c'; } /* '' */
.icon-heart-1:before { content: '\e80d'; } /* '' */
.icon-edit:before { content: '\e80e'; } /* '' */
.icon-angellist:before { content: '\e80f'; } /* '' */
.icon-eye:before { content: '\e810'; } /* '' */
.icon-volume-down:before { content: '\e811'; } /* '' */
.icon-attach:before { content: '\e812'; } /* '' */
.icon-chat:before { content: '\e813'; } /* '' */
.icon-edit-1:before { content: '\e814'; } /* '' */
.icon-edit-2:before { content: '\e815'; } /* '' */
.icon-edit-3:before { content: '\e816'; } /* '' */
.icon-comment:before { content: '\e817'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-hand-peace-o:before { content: '\f25b'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
